<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.imaginea.android.sugarcrm" 
      android:versionCode="1"
      android:versionName="1.0"
      android:sharedUserId="com.imaginea.android.sugarcrm"
      android:installLocation="internalOnly">
      

      <!--  by default all are true for 1.6 -->
    <supports-screen
          android:largeScreens="false"
          android:normalScreens="true"
          android:smallScreens="true"                   
          android:anyDensity="true" />
          
    <application android:icon="@drawable/applaunch" 
    	android:label="@string/appName" 
	    android:name="SugarCrmApp"
	    android:debuggable="true">
        
        <activity android:name=".DashboardActivity"    
        	android:label="@string/appName" android:theme="@android:style/Theme.Light.NoTitleBar"  
        	android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity android:name=".ModuleListActivity" 
			   android:label="@string/appName" android:theme="@android:style/Theme.Black.NoTitleBar">
			<intent-filter>
				<action android:name="com.imaginea.android.sugarcrm.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.default_searchable"
               android:value=".SearchActivity" />
		</activity>
		<!--FIXME: start changes by Jaga  -->
		<activity android:name=".RecentListActivity" 
			   android:label="@string/appName" android:theme="@android:style/Theme.Black.NoTitleBar">
			<intent-filter>
				<action android:name="com.imaginea.android.sugarcrm.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.default_searchable"
               android:value=".SearchActivity" />
		</activity>
        <!--FIXME: end changes by Jaga  -->
        
        <activity android:name=".SugarCrmSettings" android:label="@string/settings"
        	 android:theme="@android:style/Theme.Light">
            <intent-filter>
                <action android:name="com.imaginea.android.sugarcrm.settings" />                
                <category android:name="android.intent.category.PREFERENCE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ModuleDetailsActivity" android:label="@string/contactDetails"
       	 	android:theme="@android:style/Theme.Light.NoTitleBar" 
       	 	android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>                
                
        <activity android:name=".EditDetailsActivity" android:label="@string/editDetails"
       	 	android:theme="@android:style/Theme.Light.NoTitleBar" 
       	 	android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
	    
	    <activity android:name=".SearchActivity" android:launchMode="singleTop"
	    	android:theme="@android:style/Theme.Light.NoTitleBar" 
       	 	android:configChanges="orientation|keyboardHidden">
	        <intent-filter>
	            <action android:name="android.intent.action.SEARCH" />
	        </intent-filter>
	        <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
	    </activity>

        <activity android:name=".WizardActivity" 
			android:label="@string/appName"
			android:theme="@android:style/Theme.Light.NoTitleBar"
			android:clearTaskOnLaunch="true"
			android:excludeFromRecents="true">
			<!--
				No intent-filter here! This activity is only ever launched by
				someone who explicitly knows the class name
			-->
		</activity>
		<activity android:name=".WizardAuthActivity" 
			android:label="@string/appName"
			android:theme="@android:style/Theme.Light.NoTitleBar"
			android:clearTaskOnLaunch="true" 
			android:excludeFromRecents="true">			
		</activity>
		<activity android:name=".SyncConfigActivity" 
			android:label="@string/appName"
			android:theme="@android:style/Theme.Light.NoTitleBar">		
			 <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>	
		</activity>
		
		<activity android:name=".ModuleSortConfigActivity" 
			android:label="@string/appName"
			android:theme="@android:style/Theme.Light.NoTitleBar">		
			 <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>	
		</activity>
		
        <service android:name=".SugarService" />
        <!-- The authenticator service -->
		<service android:name=".auth.AuthenticationService"
			android:exported="true">
			<intent-filter>
				<action android:name="android.accounts.AccountAuthenticator" />
			</intent-filter>
			<meta-data android:name="android.accounts.AccountAuthenticator"
				android:resource="@xml/authenticator" />
		</service>

		<service android:name=".sync.SyncService" android:exported="true">
			<intent-filter>
				<action android:name="android.content.SyncAdapter" />
			</intent-filter>
			<meta-data android:name="android.content.SyncAdapter"
				android:resource="@xml/syncadapter" />

		</service>
		<!-- TODO : permissions, grantUri and export flags need to be set appropriately, 
		we want to share our provider only with apps signed by our certificate or running with the same UID -->
		<!-- permission android:name="com.imaginea.android.sugarcrm.permission.ACCESS_SUGAR_CRM_PROVIDER" 
			android:label="@string/perm_access_sugarCrm" android:description="@string/sugarProviderDesc" 
			android:protectionLevel="signature"/--> 
			<!-- add provider permission android:permission="com.imaginea.android.sugarcrm.permission.ACCESS_SUGAR_CRM_PROVIDER" -->
		<provider android:name=".provider.SugarCRMProvider"
			android:authorities="com.imaginea.sugarcrm.provider" android:label="@string/appName"
			android:description="@string/appProviderDesc"
			android:syncable="true" />
    </application>
    <!--  changed to 5 as WizardActivity has WizardAuth stuff in it and no longer supports 1.6  -->
   	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="11" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />    
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.CALL_PHONE"/>
</manifest>
