<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.imaginea.android.sugarcrm" 
      android:versionCode="1"
      android:versionName="1.0"
      android:sharedUserId="com.imaginea.android.sugarcrm"
      android:installLocation="internalOnly">
      

      <!--  by default all are true for 1.6 -->
    <supports-screen
          android:largeScreens="true"
          android:normalScreens="true"
          android:smallScreens="true"                   
          android:anyDensity="true" />
          
    <application android:icon="@drawable/icon" android:label="@string/appName" 
	    android:name="SugarCrmApp">
        
        <activity android:name=".DashboardActivity"    
        	android:label="@string/appName" android:theme="@android:style/Theme.Black.NoTitleBar"  
        	android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity android:name=".ContactListActivity" 
			   android:label="@string/appName" android:theme="@android:style/Theme.Black.NoTitleBar"    >
			<intent-filter>
				<action android:name="com.imaginea.android.sugarcrm.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".AccountListActivity" android:label="@string/accounts" 
			android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="com.imaginea.android.sugarcrm.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SugarCrmSettings" android:label="@string/settings"
        	 >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        
        <activity android:name=".AccountDetailsActivity" android:label="@string/contactDetails"
       	 android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ContactDetailsActivity" android:label="@string/contactDetails"
        	android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        
        <activity android:name=".EditDetailsActivity" android:label="@string/editDetails"
       	 android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
               
        <activity android:name=".WizardActivity" android:label="@string/appName" 
        	android:theme="@android:style/Theme.Black.NoTitleBar" 
        	android:clearTaskOnLaunch="true">           
        </activity>
        <service android:name=".SugarService" />
        
         <provider android:name=".provider.SugarCRMProvider"
            android:authorities="com.imaginea.sugarcrm.provider"
        />
    </application>
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    

</manifest> 